* {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69; // yellow 
$color-secondary: #f08a5d;
$color-tertiary: #b83b5e;
$color-text-dark: #333;
$width-button: 150px;
$color-text-light: #eee;
/*comment*/

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin style-link-text($color) {
  text-transform: uppercase;
  text-decoration: none;
  color: $color;
}

@function divide($a, $b) {
  @return $a / $b;
}

nav {
  margin: divide(60, 2) * 1px;
  background-color: $color-primary;
  
  @include clearfix;
}

.navigation {
  list-style: none;
  float: left;
  
//   nested selectors
  li {
    display: inline-block;
    margin-left: 50px;
    
    a:link {
      @include style-link-text($color-text-dark);
    }
    
    &:first-child {
      margin: 0;
    }
    
  } 
}

.buttons {
  float: right;
}

%btn-placeholder {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  width: $width-button;
  @include style-link-text($color-text-light);
}

.btn-main {
  &:link {
    @extend %btn-placeholder;
    background-color: $color-secondary;
  }
  
  &:hover {
    background-color: darken($color-secondary, 15%);
  }
}

.btn-hot {
  &:link {
    @extend %btn-placeholder;
    background-color: $color-tertiary;
  }
  
  &:hover {
    background-color: lighten($color-tertiary, 10%);
  }
}