.projects {
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  width: 90%;
  background-color: #062F4F;
  background-image: url('../img/WestRim.jpg');
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/20170812_104428.jpg');
  background-size: cover;
  background-position: bottom;
}

.projects p, h1, h3 {
  color: white;
}

.projects p {
  font-size: 120%;
}

.projects img {
  border-radius: 50%;
  border: 3px grey solid;
}